@import url('https://unpkg.com/modern-css-reset@1.4.0/dist/reset.min.css');

:root {
  --c-confirm: #90A955;
  --c-cancel: #BB4430;
  --c-brand: #6CD4FF;
  --c-brand2: #9d96b8;

  --c-border: rgba(157, 150, 184, .25);

  --c-shade: rgba(0, 0, 0, .55);

  --padding: 24px;
  --gap: 10px;

  /* Safe padding */
  --spl: max( env(safe-area-inset-left), var(--padding) );
  --spr: max( env(safe-area-inset-right), var(--padding) );

  /* https://coolors.co/6cd4ff-303633-9d96b8-90a955-92140c */
}

@media (prefers-color-scheme: light) {
  :root {
    --c-page-bg: white;
    --c-text: #303633;
    --c-header-bg: var(--c-brand);
    --c-bg: #F8F8FE;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-page-bg: #131313;
    --c-text: #6CD4FF;
    --c-header-bg: #303633;
    --c-bg: #17181E;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Barlow, sans-serif;
  color: var(--c-text);
  margin: 0;
  padding: 0;
  background: var(--c-page-bg);

  display: flex;
  flex-flow: column;

  min-height: unset;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
}

svg {
  fill: currentColor;
}

.cur {
  margin-right: .25em;
  opacity: .25;
  color: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  color: inherit;
  opacity: .25;
}
